body {
    background-image: url('./images/background.jpg');
    text-align: center;
}

.container {
    position: relative;
    text-align: center;
}

#title {
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#subtitle {
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#timer {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

#cat {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: pink;
    border-width: 10px;
}